.products {
    width: 100vw;
    height: auto;
    display: grid;
    place-items: center;
}

.cartItems {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 200px;

}

.prodName, .prodDesc, .prodPrice {
    padding: 2px;
    margin: 2px;
}

.product img {
    margin: auto;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}