.products {
    width: 100vw;
    height: auto;
    display: grid;
    place-items: center;
}

.cartItems {
    display: grid;
    align-items: center;
    justify-content: center;

}

.prodName, .prodDesc, .prodPrice {
    padding: 2px;
    margin: 2px;
}

.addtocart{
    transition-duration: 0.2s;
}

.addtocart:hover{
    color: white;
    background-color: grey;
}

.product img {
    margin: auto;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}