.textIntro {
    line-height: 30px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100px 150px 200px 200px;
    width: 100vw;
}

.topText {
    text-align: center;
}

.meList {
    list-style-position: inside;
    grid-row-start: 1;
    grid-row-end: 1;
}

.about {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}